<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/cart.css">

</head>

<body>
    <div class="container" id="app">
        <h1 class="text-center">购物车</h1>
        <!-- 表头 -->
        <div class="row" id="thead">
            <div class="col-md-4 h4 text-center">商品详情</div>
            <div class="col-md-2 h4 text-center">单价</div>
            <div class="col-md-2 h4 text-center">数量</div>
            <div class="col-md-2 h4 text-center">小计</div>
            <div class="col-md-2 h4 text-center">操作</div>
        </div>
        <div class="row tbodyRow" v-for="(item, index) in cartList">
            <!-- 商品详情 -->
            <div class="col-md-4 tscl">
                <div class="col-md-2">
                    <div class="radio" @click="check(index)"></div>
                </div>
                <div class="col-md-3">
                    <img :src="item.pic" class="img-responsive">
                </div>
                <div class="col-md-7">{{item.title}}</div>
            </div>
            <!-- 单价 -->
            <div class="col-md-2  text-center">{{item.price}}</div>
            <!-- 数量 -->
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon" @click="sub(index)">-</span>
                    <input type="number" class="form-control text-center" v-model="item.productNum">
                    <span class="input-group-addon" @click="item.productNum+=1">+</span>
                </div>
            </div>
            <!-- 小计 -->
            <div class="col-md-2 text-center" v-html="xjList[index]"></div>
            <!-- 操作 -->
            <div class="col-md-2 text-center" @click:del(index)>删除</div>
        </div>
        <!-- 表尾 -->
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-2">
                    <div class="radio"></div>
                </div>
                <div class="col-md-2">全选</div>
            </div>
            <div class="col-md-2 col-md-offset-10">
                <button type="button" class="btn btn-danger btn-lg btn-block center-block">去结算</button>
            </div>
        </div>
    </div>

    <script src="./js/Vue.js"></script>
    <script src="./js/vue-resource.js"></script>
    <script src="./js/cart.js"></script>
</body>

</html>